

* {
	font-family: "poppins", sans-serif;
	
}

body {
	background: rgb(139, 235, 139);
}

h1, 
h2 {
	font-family: "montserrat", sans-serif;
}

#landing {
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#gallery {
	height: 75vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	border-radius: 6px;
}

ul {
	list-style: none;
	padding: 0;
}

h2 {
	color: #28a745;
}

.jumbotron {
	background: transparent;
}

img {
	width: 250px;
	height: 250px;
}

.tools {
	padding: 1.5em;
	height: 200px;
	background: #181818;
	border-radius: 6px;
	margin: 1.2em;
	width: 75%;
	color: #eee;
	box-shadow: 0 10px 6px -6px #000;
}

html {
	scroll-behavior: smooth;
}